<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-primary-theme"> {{formType}} Post </h3>
            <p class="mb-5"> You can {{formType}} your new post here </p>
        </div>
    </div>

    <form [formGroup]="postForm"  (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-7 mb-3">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group">
                            <label for=""> Title </label>
                            <input
                                    type="text"
                                    class="form-control form-text"
                                    name="title"
                                    (keyup)="onTitleChanged($event)"
                                    formControlName="title"
                                    [ngClass]="{'is-invalid': fc['title'].touched && fc['title'].invalid}"
                            >
                            <div *ngIf="fc['title'].errors?.['required']">
                                <div class="alert alert-danger" *ngIf="fc['title'].touched && fc['title'].invalid"> Title is required. </div>
                            </div>
                            <div *ngIf="fc['title'].errors?.['minlength']">
                                <div class="alert alert-danger" *ngIf="fc['title'].touched && fc['title'].invalid"> Title must be at least 10 characters long. </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for=""> Permalink </label>
                        </div>

                        <div class="form-group">
                            <label for=""> Excerpt </label>
                            <textarea
                                    cols="30"
                                    rows="10"
                                    class="form-control form-text"
                                    formControlName="excerpt"
                                    [ngClass]="{'is-invalid': fc['excerpt'].touched && fc['excerpt'].invalid}"
                            ></textarea>
                            <div *ngIf="fc['excerpt'].errors?.['required']">
                                <div class="alert alert-danger" *ngIf="fc['excerpt'].touched && fc['excerpt'].invalid"> Excerpt is required. </div>
                            </div>
                            <div *ngIf="fc['excerpt'].errors?.['minlength']">
                                <div class="alert alert-danger" *ngIf="fc['excerpt'].touched && fc['excerpt'].invalid"> Excerpt must be at least 10 characters long. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 mb-3">
                <div class="card">
                    <div class="card-body shadow-effect">

                        <div class="form-group">
                            <label for=""> Please select a post category </label>
                            <select
                                    name="category"
                                    id=""
                                    class="form-control"
                                    formControlName="category"
                                    [ngClass]="{'is-invalid': fc['category'].touched && fc['category'].invalid}"
                            >
                                <option value="" disabled> Please select a category</option>
                                <option value="{{category.id}}-{{ category.data.category }}" *ngFor="let category of categories"> {{ category.data.category }} </option>
                            </select>
                            <div *ngIf="fc['category'].errors?.['required']">
                                <div class="alert alert-danger" *ngIf="fc['category'].touched && fc['category'].invalid"> Please select a category. </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for=""> Post Image </label>
                            <img [src]="imgSrc" alt="Post Image" class="form-control img-fluid img-preview">
                            <input
                                    type="file"
                                    class="form-control"
                                    name="postImg"
                                    accept="image/*"
                                    (change)="showPreview($event)"
                                    formControlName="postImg"
                                    [ngClass]="{'is-invalid': fc['postImg'].touched && fc['postImg'].invalid}"
                            >
                            <div *ngIf="fc['postImg'].errors?.['required']">
                                <div class="alert alert-danger" *ngIf="fc['postImg'].touched && fc['postImg'].invalid"> Image is required. </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12">
                <div class="card shadow-effect">
                    <div class="card-body form-group">
                        <label for=""> Content </label>
                        <angular-editor placeholder="Add your content here" formControlName="content"></angular-editor>
                        <div *ngIf="fc['content'].errors?.['required']">
                            <div class="alert alert-danger" *ngIf="fc['content'].touched && fc['content'].invalid"> Content is required. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-center mb-5">
            <button class="btn btn-sm btn-info bg-primary-theme" [disabled]="postForm.invalid"> {{formType}} Post </button>
            <button class="btn btn-sm btn-warning  ml-2" routerLink="/posts"> Back to Post </button>
        </div>
    </form>
</div>
