<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-primary-theme"> Add New Post </h3>
            <p class="mb-5"> You can add your new post here </p>
        </div>
    </div>

    <form ngForm = "postForm">
        <div class="row">
            <div class="col-md-7 mb-3">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group">
                            <label for=""> Title </label>
                            <input type="text" class="form-control form-text" name="title" (keyup)="onTitleChanged($event)">
                        </div>

                        <div class="form-group">
                            <label for=""> Permalink </label>
                            <input type="text" class="form-control form-text" name="permalink" [(ngModel)]="postPermalink" disabled>
                        </div>

                        <div class="form-group">
                            <label for=""> Excerpt </label>
                            <textarea cols="30" rows="10" class="form-control form-text"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 mb-3">
                <div class="card">
                    <div class="card-body shadow-effect">

                        <div class="form-group">
                            <label for=""> Please select a post category </label>
                            <select name="" id="" class="form-control">
                                <option value="" disabled> Please select a category</option>
                                <option value="" *ngFor="let category of categories"> {{ category.data.category }} </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for=""> Post Image </label>
                            <img [src]="imgSrc" alt="" class="form-control img-fluid img-preview">
                            <input type="file" class="form-control-file" accept="image/*" (change)="showPreview($event)">
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-12">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <label for=""> Content </label>
                        <angular-editor placeholder="Add your content here" [(ngModel)]="htmlContent" name="content"></angular-editor>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-center mb-5">
            <button class="btn btn-info bg-primary-theme"> Save Post </button>
            <button class="btn btn-warning  ml-2" routerLink="/posts"> Back to Post </button>
        </div>
    </form>
</div>
