<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme shadow-effect py-5 px-4">
      <h3 class="text-center text-primary-theme"> New Categories </h3>
      <p class="text-center mb-5"> You can add new categories from here ..! </p>

      <form class="form-inline text-center" #categoryForm = "ngForm"  (ngSubmit)="onSubmit(categoryForm)">
        <div class="form-group col-md-10">
          <input type="text" class="form-control shadow-effect form-text" placeholder="Add New Categories" name="category" ngModel>
        </div>

        <div class="col-md-2">
          <button type="submit" class="btn btn-info btn-block form-btn"> Add Category </button>
        </div>
      </form>
    </div>
  </div>
</div>
